@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Inter'] antialiased text-gray-800 bg-gray-50;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-lg border border-white/20 shadow-xl;
}

.input-group:focus-within label {
  @apply text-blue-600;
}

.input-group:focus-within svg {
  @apply text-blue-600;
}
