stages:
  - build

image: php:8.2

before_script:
  - apt-get update && apt-get install -y unzip git curl
  - curl -sS https://getcomposer.org/installer | php
  - mv composer.phar /usr/local/bin/composer

build_app:
  stage: build
  script:
    - echo "Installing backend dependencies"
    - cd backend
    - composer install
