services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    links:
      - client
      - php-backend
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - client
      - php-backend
    restart: always

  client:
    build:
      context: ./client
    restart: always
    # No ports exposed, accessed via nginx

  php-backend:
    build:
      context: ./backend
    env_file:
      - .env
    volumes:
      - ./backend:/var/www/html
    restart: always
    depends_on:
      - mongodb
      - rabbitmq

  mongodb:
    image: mongo:4.4
    volumes:
      - mongo-data:/data/db
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: always

  worker:
    build:
      context: ./backend
    command: [ "php", "workers/consumer.php" ]
    depends_on:
      - rabbitmq
      - mongodb
    restart: always

  cron:
    image: php:8.2-cli-alpine
    volumes:
      - ./cron:/app/cron
      - ./backend:/app/backend
    working_dir: /app
    entrypoint: [ "/bin/sh", "-c", "echo '0 2 * * * php /app/cron/cleanup.php' > /etc/crontabs/root && crond -f -l 8" ]
    depends_on:
      - mongodb
    restart: always

volumes:
  mongo-data:
  rabbitmq-data:
